<h2 class="w3-center">Contact Us</h2>

<p style="margin-left: 80px;">
		Address:	Lahore Railway Station  G. T. Road, Lahore, Pakistan
</p>
<br>

<p style="margin-left: 80px;">
		City:	Lahore
</p>
<br>
<p style="margin-left: 80px;">
		Country:	Pakistan	 
 </p>

 <br>

 <p style="margin-left: 80px;">
		Phone Number:	+996 312 611217
</p>
<br>

<p style="margin-left: 80px;">
		Email  : mymailap16@gmail.com
</p>
<br>
<div class="w3-content w3-center" style="width:1020px;position:relative">
  <%= image_tag "map.PNG" ,class:"mySlides" ,style: " height:300px;width: 700px" %>
</div>
<br>
