

<div class="w3-content" style="width:1020px;position:relative">
  <%= image_tag "1.jpg" ,class:"mySlides" ,style: " height:300px;width: 1150px" %>
  <%= image_tag "2.jpg" ,class:"mySlides" ,style: " height:300px;width: 1150px" %>
  <%= image_tag "3.jpg" ,class:"mySlides" ,style: " height:300px;width: 1150px" %>
  <%= image_tag "4.jpg" ,class:"mySlides" , style: "height:300px; width: 1150px" %>
</div>

<br>
<h2 class="w3-center">WELCOME TO TMIS </h2>

<p>This system is basically concerned with the online reservation of railway and providing information to the passenger. The need of this system arouse because In this busy world mostly people don’t have time to go to railway station in order to reserve seats. By computerizing it, it became possible to overcome this problem and make the system operations more efficient.

This online railway reservation system can perform the basic functions like online reservation, search fares, search routes and search for an alternate route. There are two types of users in our system i.e. admin, passenger.

The admin has complete rights. He can access, update information in the database. This includes view, edit and delete data from database. Passengers are required to register in the system for getting access to the database. They can book tickets, search fare, search routes and check schedule of trains. Whereas the guest users can access the system by just entering guest@email.com and guest in password. Guest users will have same access to the system as passengers except for booking tickets.</p>

<br>
